.MyInfo{
    color: #2F3E46;
    width: 400px;
    height: 400px;
    background-color:#D9E6F2;

    /* Center of the screen */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /*Allocate space on all 4 sides*/
    padding: 10px;

    box-shadow: -2px 5px 10px 10px cyan;
}

.image{
    height: 100px;
    width: 100px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50px;

}

/*Increasing the height of the table*/
tr{
    height: 30px;
}